body {
background: lightblue;


}

.container {
    width: 500px;
    margin: auto;

}
#gametitle {
    background: #ee82ee;
    width: 500px;
    text-align: center;
    font-family: cursive;
    color: #6a5acd;
    border-style: outset;

    
}
#wins {
    color: green;
}

#losses {
    color: red;
}

.rows {
    display: flex;
    justify-content: space-between;
}

#gems {
    display: flex;
    justify-content: space-around;

}


img {
    width: 50px;

}

img:hover { 
    width: 60px;
    opacity: .5;
  }


